# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Build / coverage
dist/
build/
coverage/

# Env & credenciais
.env
.env.*
*.pem
*.key

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/

# Logs
logs/
*.log

# Redis dump
dump.rdb
appendonly.aof
